@model TalkGaming.Models.Posts
@{
    ViewBag.Title = "Details";
}

<!-- Post Details Section -->
<section class="post-details">
    <h2>@Model.Title</h2>
    <h4 class="post-content">@Model.Content</h4>
</section>

