@{
    ViewBag.Title = "Home Page";
}

<!--    Banner     -->
<section id="banner">
    <div class="banner-sides">
        <a href="..\..\Content\Images\MainBanner.png" target="_blank" class="main-banner">
            <img src="..\..\Content\Images\MainBanner.png" alt="Main Banner High Noon" />
        </a>
    </div>
</section>

<!--   Forum Titles     -->
<section>
    <div class="container-fluid">
        <div class="row">

        </div>
    </div>
</section>



@section scripts
{
    <script>
        $(document).ready(function () {
            $.get("/api/forums", function (data) {
                $.each(data, function (key, forum) {
                    $(".row").append(
                        "<a href='/forums/forum/" + forum.Id + "' class='forum col-sm-4'>" + forum.Title + "</a>"
                    );
                });
            });
        });
    </script>
}