
/*----------Color Scheme---------*/
:root {
    --darker-bg: #221d28;
    --dark-bg: #454545;
    --text: #e4de78;
    --highlights: #48c752;
    --border: #cbcbcb;
    --post: #682b2b;
    font-size: large;
}
/* ----------------------------- */

body {
    font-family: Verdana !important;
    padding-top: 50px;
    background: url(Images/SiteBackground.jpg) repeat 0 0;
    background-size: cover;
}

#overrides a {
    color: var(--text);
}

#overrides a:hover, a:focus {
    color: var(--text);
    text-decoration: underline solid var(--highlights);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    background-color: var(--dark-bg);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Normalize image elements inside anchor tags */
a > img {
    width: 100%;
    height: 100%;
}

/* ------------Navbar------------- */    
#overrides .navbar-inverse {
    background-color: var(--darker-bg);
    border-color: #080808;
    border-bottom: 2px solid var(--highlights)
}

#overrides .navbar {
    font-size: 1rem;
}

#overrides .navbar-brand {
    font-size: 1.2rem;
}

#overrides .row {
    overflow: hidden;
    margin: 0;
}

/* -------------Body-------------- */

/* Banner */
#banner {
    border-bottom: 1px solid var(--border);
}

.main-banner .banner-sides{
    display: none;
}

.main-banner > img {
    display: none;
}

@media (min-width: 768px) {
    .main-banner {
        display: block;
        width: 80%;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-banner > img {
        display: block
    }

    .banner-sides {
        display: block;
        width: 100%;
        height: 200px;
        background-color: var(--darker-bg);
    }
}

/* Home Page */

.forum {
    color: var(--text);
    border: 1px solid var(--border);
    text-align: center;
    font-size: 1rem;
    padding: 5px 0;
}

/* Forum Page */

.forum-title {
    color: var(--text);
    text-align: center;
}

.newpost-button {
    color: var(--text);
    background-color: var(--highlights);
    margin-bottom: 10px;
}

.table-headers {
    background-color: #572525;
    color: #f5ee78;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    height: 32px;
}

.table-header-title {
    text-align: left;
    padding-left: 15px !important;
}

.table-header {
    border-right: 1px solid black;
    margin-left: -5px;
    height: 100%;
}

.table-header-last {
    text-align: start;
    margin-left: -5px;
}

.table-title-row {
    height: 30px;
    max-height: 30px;
}

.table-content-row {
    height: 30px;
    max-height: 30px;
    border-bottom: 1px solid black;
}

.post {
    background-color: var(--post);
    color: var(--text);
}

.forum-post-title {
    text-align: start;
    padding-left: 15px !important;
    padding-top: 5px;
    font-size: 1rem;
}

.forum-post-content {
    text-align: start;
    padding-left: 15px !important;
    padding-top: 7px;
    padding-bottom: 5px;
    font-size: .8rem;
    height: 100%;
}

/* New Post Page */
.newpost-title {
    color: var(--text);
    padding: 0px 20px;
}

.newpost-content-box {
}

.form-group {
    padding: 10px 20px;
    color: var(--text);
    font-size: 1.3em;
}

.form-group > span {
    display: inline-block;
}

input[type=text] {
    background-color: var(--darker-bg);
    color: var(--text);
    font-size: .6em;
}

#overrides textarea {
    background-color: var(--darker-bg);
    color: var(--text);
    height: 120px;
    resize: none;
    font-size: .6em;
}

.field-validation-error, label.error {
    color: red;
    padding: 4px;
}

.input-validation-error, input.error {
    border: 2px solid red;
}

.newpost-button-save {
    color: var(--text);
    background-color: var(--highlights);
    margin-bottom: 10px;
    margin-left: 20px;
}

/* Post Details Page */
#post-details {
    background-color: var(--post);
    color: var(--text);
    padding-bottom: 10px;
}

.post-details-title {
    padding: 0px 25px 5px 25px;
}

.post-details-title > h2 {
    margin-top: 0px;
}

.post-details-content {
    border: 2px solid var(--border);
    margin: 5px 25px 0px 25px;
    padding: 0px 10px;
    border-radius: 12px;
}

#comments-section {
    background-color: var(--darker-bg);
    color: var(--text);
}

.comment {
    padding: 20px 25px 10px 25px;
    margin: 0px;
}

#post-functions {
    background-color: var(--post);
    padding-top: 10px;
}

.post-function-buttons {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 25px;
}

.post-function-button {
    color: var(--text);
    border-radius: 10px;
    background-color: var(--highlights)
}

/* -------------Footer------------ */
#overrides footer {
    background-color: var(--darker-bg);
    border-top: 1px solid var(--highlights);
    padding: 10px 20px;
    color: var(--text);
    font-size: 1.1rem;
}